{% extends 'home.html' %}

{% block title %}Sobre{% endblock %}

{% block HomeActivated %}
    <li class="nav-item-active">
        <a class="nav-link" href="{{ url_for('process_data') }}">Home</a>
    </li>
{% endblock %}

{% block ResultsActivated %}
    <li class="nav-item">
        <a class="nav-link disabled">Resultado</a>
    </li>
{% endblock %}

{% block AboutActivated %}
    <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('about') }}">Sobre<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block content %}
    <div>
        <h5> Breve descrição:</h5>
        
        <p>
        Esta aplicação é fruto de uma projeto de Iniciação Científica com ituito de entender na prática as aplicações do Processamento de 
        Linguagem Natural e técnicas heurísticas como N-gram e distância de Levenshtein para correção de textos em português 
        brasileiro.  
        </p>

        <br>
        
        <h6>Autores:</h6>
        <ul style="font-size:13px";>
            <li ><b>Vitor Matheus de Souza Carvalho</b><br>
                Graduando em Engenharia de Computação - Universidade do Estado do Amazonas
            </li>
            <br>
            <li><b>Prof. Msc. Flávio José Mendes Coelho</b><br>
                Orientador - Universidade do Estado do Amazonas
            </li>
        </ul>

        <br><br>
        
        <b>Repositório do Projeto:</b> 
        <a href="https://github.com/VitorMatheus097/FlaskApplication">Corretor Automático de Ortografia para Textos de Língua Portuguesa</a>

    </div>
{% endblock %}