<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/bootstrap.min.css") }}">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample08">
            <ul class="navbar-nav">
                
                {% block HomeActivated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('process_data') }}">Home<span class="sr-only">(current)</span></a>
                </li>
                {% endblock %}
                
                {% block ResultsActivated %}
                <li class="nav-item">
                    <a class="nav-link disabled">Resultado</a>
                </li>
                {% endblock %}

                {% block AboutActivated %}
                <li class="nav-item-active">
                    <a class="nav-link" href="{{ url_for('about') }}">Sobre</a>
                </li>
                {% endblock %}
            </ul>
        </div>
    </nav>

    <div class="container">     
        <div class="jumbotron">
            {% block content %}
            <!-- <h1>Texto texto</h1>
            <p class="lead">Texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto texto</p> -->
            
            
            <div class="form-group">      
                <form method="post">
                    <textarea name="text" class="form-control" rows="15" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>
                    <button type="submit" class="btn btn-lg btn-primary">Corrigir</button>
                </form>
            </div>
            {% endblock %}
        </div>
    </div>

    <footer class="container">
      <p>&copy; Universidade do Estado do Amazonas 2017 - {{currentYear}}</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <!-- <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script> -->

  </body>
</html>
