{% extends 'home.html' %}

{% block title %}Resultado{% endblock %}

{% block HomeActivated %}
    <li class="nav-item-active">
        <a class="nav-link" href="{{ url_for('process_data') }}">Home</a>
    </li>
{% endblock %}

{% block ResultsActivated %}
    <li class="nav-item active">
        <a class="nav-link">Resultado<span class="sr-only">(current)</span></a>
    </li>
{% endblock %}

{% block AboutActivated %}
    <li class="nav-item-active">
        <a class="nav-link" href="{{ url_for('about') }}">Sobre</a>
    </li>
{% endblock %}

{% block content %}
<!-- <textarea name="text" class="form-control" rows="15" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"> -->
    <!-- {% for word in text.split() %} {% if word == "This" %} <mark>{{word}}</mark> {% else %} {{word}} {% endif %} {% endfor %}     -->
    <!-- <mark>{{word}}</mark> -->
<!-- </textarea> -->

<div class="p-3 mb-2 bg-dark text-white">
    {%- for line in text.splitlines() -%} 
        {%- if line == "" -%} 
            <br>
        {%- else -%} 
            {%- for ngram in db.makeNgrams("$ $" + line) -%}
                {%- for response in db.queryData(ngram) -%}
                    
                    {%- if response[0] == -1 -%} 
                        <span> </span>    
                        <u>{{response[1][0][0]}}</u> 
                    {%- elif response[0] == 0 -%} 
                        <span> </span>
                        <b>{{response[1][0][0]}}</b>
                    {%- else -%}
                        {{response[1][0]}}
                    {%- endif -%}
                
                {%- endfor -%}
            {%- endfor -%} 
            <br>    
        {%- endif -%}
        <br>
    {%- endfor -%}
</div>

{% endblock %}